{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}


{% block content %}

<div class="main-wrapper">
    <div class="form-wrapper">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Text
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">File
                </button>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                 tabindex="0">
                <form action="/upload" method="POST" id="upload-txt" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-6 pt-4">
                        <label class="form-label form-label-2">
                            Upload text
                        </label>

                        <div class="mb-5 file-input">
                            <textarea name="text_doc" class="text-desc" placeholder="Enter description"></textarea>

                        </div>


                    </div>
                    <div>
                        <button class="btn w-full">Upload</button>
                    </div>
                </form>


            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-6 pt-4">
                        <label class="form-label form-label-2">
                            Upload File
                        </label>

                        <div class="mb-5 file-input">
                            <input type="file" name="file" id="file-in"/>
                            <label for="file-in">
                                <div>
                                    <span class="drop-file"> Drop files here </span>
                                    <span class="or"> Or </span>
                                    <span class="browse"> Browse </span>
                                </div>
                            </label>
                        </div>

                        <div class="file-list mb-5 hidden">
                            <div class="file-item">
                                <span class="file-name" id="file-name-span">  </span>
                                <button>
                                    <svg
                                            width="10"
                                            height="10"
                                            viewBox="0 0 10 10"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M0.279337 0.279338C0.651787 -0.0931121 1.25565 -0.0931121 1.6281 0.279338L9.72066 8.3719C10.0931 8.74435 10.0931 9.34821 9.72066 9.72066C9.34821 10.0931 8.74435 10.0931 8.3719 9.72066L0.279337 1.6281C-0.0931125 1.25565 -0.0931125 0.651788 0.279337 0.279338Z"
                                                fill="currentColor"
                                        />
                                        <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M0.279337 9.72066C-0.0931125 9.34821 -0.0931125 8.74435 0.279337 8.3719L8.3719 0.279338C8.74435 -0.0931127 9.34821 -0.0931123 9.72066 0.279338C10.0931 0.651787 10.0931 1.25565 9.72066 1.6281L1.6281 9.72066C1.25565 10.0931 0.651787 10.0931 0.279337 9.72066Z"
                                                fill="currentColor"
                                        />
                                    </svg>
                                </button>

                            </div>
                            <textarea name="file_desc" class="file-desc" placeholder="Enter description"></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="btn w-full">Upload document</button>
                    </div>
                </form>

            </div>

        </div>


        {% if uploaded %}

        <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
            <strong>Uploaded successfully</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        {% if error %}

        <div class="alert alert-warning alert-dismissible fade show my-2" role="alert">
            <strong>Server error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

    </div>
</div>
<script src="{% static 'js/upload.js' %}"></script>

{% endblock content %}

