.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 3rem;

}

.filter {
    min-width: 15rem;
    /*display: inline-block;*/

}

@media (max-width: 767px) {
    .filter {
        top: 50px;
    }
}

.filter #format {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter #manual {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
}

.filter #result {
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 10px;
}

#hr {
    border: none;
    border-top: 2px solid black;
}


.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid;

}

.dropdown.active .drop-menu {
    display: block;
}

.no-border {
    border: none !important;
}

.date-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.custom-dropdown-toggle {
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 0;
    font: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 900;

}


.custom-dropdown-toggle h6 {
    margin: 0;
}

.custom-dropdown-toggle {
}


.drop-menu {
    border: none;
    text-decoration: none;
    font: inherit;
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

.drop-menu {
    border: none;
    text-decoration: none;
    font: inherit;
    z-index: 1;
    list-style-type: none;
    padding: 0;
}

.drop-menu li {
    /*border-bottom: 1px #cacaca solid;*/
    padding: 0.2rem 0;
}

.accordion-button {
    background-color: white !important;
    border: none !important;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #cacaca;

}


.dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .check {
        width: 250px;
    }
}

#count2 {
    padding-left: 30px;

}

.check input {
    border-radius: 0;
    border-color: black;
}


/* =========================================================== */
.result-container {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.results {
    width: 100%;
}

.alert {
    background-color: rgba(132, 132, 205, 0.329);
    width: fit-content;
    padding: 5px 13px;
    border-radius: 60px;
    display: inline-block;
    background-color: transparent;
    border-color: blue;
    color: rgba(0, 0, 255, 0.726);
    font-weight: 300;

}

.alert .close {
    border: 1px;
    color: blue;
    background-color: transparent;
    font-weight: 300;

}

.tittle {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*justify-content: space-between;*/
}

.sort {
    align-self: flex-end;
}

.tittle h2 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .tittle {
        display: block;
    }

    .tittle h2 {
        width: fit-content;

    }

    .input-group1 {
        position: relative;
        top: 10px;
        right: 10px;
        width: fit-content;
        display: flex;
        z-index: 100;
        align-items: center;
    }


}

.input-group1 {
    display: flex;
    align-items: stretch;

}

.input-group1 div {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
}

.input-group1 h6 {
    display: flex;
    align-items: center;
    margin: 0;
}

.view {
    padding: 7px 0px;
    border: 2px solid;
}


.sort-by {
    height: 100%;
    border: 2px solid;
    width: 200px;
    background-color: inherit;
}

@media (max-width: 767px) {
    .sort-by {
        width: 100px;
    }
}

.submit-go {
    padding: 0.5rem 0.5rem;
    border: 1px black;
    background-color: black;
    color: white;
}

.card .col-md-8 {
    height: 250px;
}

.card-title {
    text-transform: uppercase;

}

.card-body {
    background-color: transparent;
    border: none;
    padding: 0;

}

.card-body p {
    text-transform: capitalize;
}

.card-body .content {
    color: rgb(46, 106, 160);
    font-size: large;
    margin-bottom: 0.5rem;
    font-weight: 700;

}

/*.card-body span {*/
/*    text-transform: uppercase;*/
/*}*/

.bold {
    font-weight: 700;
}


.card-body p a {
    text-decoration: none;
}

.card-img {
    border: 10px solid;
}

.img-fluid {
    max-width: 100%;
    object-fit: contain;
    height: 7rem;
    margin-top: 1.5rem;
}

.card-right {
    height: fit-content;
}

.card-container {
    margin: 0;
}


hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    color: black;
    margin: 1em 0;
    padding: 0;
}

.filter-btn {
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}


.org-container {
    margin-top: 1rem;
}


.org-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: var(--margin-x);
}


.org-desc-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 1rem 0;
}


.org-desc {
    padding-left: var(--margin-x);
    margin-bottom: 1rem;
    font-weight: bolder;
}

.org-desc-content {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}


.accordion-title {
    min-width: 5.5rem;
}


.arrange-form {
    margin-right: 1rem;
}


.active > .page-link, .page-link.active {
    color: white;
    background-color: black;
    border-color: black;
}

.page-link {
    color: black;
    background-color: transparent;
    border-color: black;
}

.page-link:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.page-link:active {
    color: white;
    background-color: black;
    border-color: black;
}

.pagingation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}

.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pages a{
    color: black;
    background-color: transparent;
    border-color: black;
    text-decoration: none;
}

.pages a:hover{
    color: #283f66;
}
