{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

<div class="footer" >
<div class="list1">
    <ul >
        <li>
            <a href="#">Themes</a>
        </li>
        <li>
            <a href="{%url 'organization'%}">Organization</a>
        </li>
        <li>
            <a href="#">Contribute</a>
        </li>
    </ul>
</div>
<div class="list2"> 
    <ul>
        <li class="followus">
            <h5 id="followus">FOLLOW US:</h5>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
    </ul>
</div>

<div class="list3" style="padding-left: 0;">
    <ul >
        
        <li>
            <a href="#" style="padding-left: 0;">About</a>
        </li>
        <li >
            <a href="#">Goverance</a>
        </li>
        <li>
            <a href="#">Media</a>
        </li>
        <li>
            <a href="#">Polices</a>
        </li>
        <li>
            <a href="#">Donate</a>
        </li>
        <li>
            <a href="#" style="padding-right: 0;" >Contact</a>
        </li>
        
    </ul>
</div> 

</div> 