{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}"/>

<div class="footer">
    <div class="list2">
        <div class="followus">
            <h5 id="followus">FOLLOW US:</h5>
        </div>
        <div>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>

    <div class="list3" style="padding-left: 0;">

        <div>
            <a href="#" style="padding-left: 0;">About</a>
        </div>
        <div>
            <a href="#">Goverance</a>
        </div>
        <div>
            <a href="#">Media</a>
        </div>
        <div>
            <a href="#">Polices</a>
        </div>
        <div>
            <a href="#">Donate</a>
        </div>
        <div>
            <a href="#" style="padding-right: 0;">Contact</a>
        </div>

    </div>

</div> 
