* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #505050;
}

.header a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

.upload-btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.upload-btn:hover {
    background-color: #0056b3;
}
