.row{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    margin-top: 20px;
    
}

.filter {
    display: inline-block;
    /* background-color: rgb(214, 200, 173); */
    position: relative;
    top: -170px;
  
}

@media (max-width: 767px){
    .filter{
        top: 50px;
    }
}

.filter #format{
text-transform: uppercase;
font-weight: 700;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter #manual{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
}

.filter #result{
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 10px;
}

#hr{
    border: none;
    border-top: 2px solid black;
}



.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

  
.custom-dropdown-toggle{
    background-color: transparent;
    /* background-color: greenyellow; */
    border: none;
    text-decoration: none;
    padding: 0;
    font: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 900;
    
}


.custom-dropdown-toggle h6 {
    margin: 0;
}
.custom-dropdown-toggle {
    padding-bottom: 13px;
    border-bottom: 1px solid;
}


.dropdown-menu{
    border: none;
    text-decoration: none;
    font: inherit;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-item{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.check {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px){
    .check{
        width: 250px;
    }
}

#count2{
    padding-left: 30px;
    
}

.check input {
    border-radius: 0;
    border-color: blue;
}


/* =========================================================== */
.result{
    margin-bottom: 0;
}

.alert{
    background-color: rgba(132, 132, 205, 0.329);
    width: fit-content;
    padding: 5px 13px;
    border-radius: 60px;
    display: inline-block;
    background-color: transparent;
    border-color: blue;
    color: rgba(0, 0, 255, 0.726);
    font-weight: 300;
    
}

.alert .close{
    border: 1px;
    color: blue;
    background-color: transparent;
    font-weight: 300;

}

.tittle{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.tittle h2{
    text-transform: uppercase;
}
@media (max-width:767px){
    .tittle{
        display:block;
    }
    
    .tittle h2{
        width: fit-content;
        
    }

    .input-group1{ 
        /* background-color: yellow; */
        position: relative;
        top: 10px;
        right: 10px;
        width: fit-content;
        display: flex;
        z-index: 100;
        align-items: center;
    }

    /* .sort{
        width: fit-content;
    } */

  
}

.input-group1{
    display: flex;
}

.input-group1 h6{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.view{
    padding: 7px 0px;
    border: 2px solid;
}

.sort-by{
    padding: 7px 0px;
    border: 2px solid;
    width: 200px;
}

@media(max-width: 767px){
    .sort-by{
        width: 100px;
    }
}

.submit-go{
    padding: 8px 2.5px;
    border: 1px black;
    background-color: black;
    color: white;
}

.card .col-md-8{
    height: 250px;
}

.card-title{
    text-transform: uppercase;
    
}

.card-body{
    background-color: transparent;
    border:none;
    
}

.card-body p{
    text-transform: capitalize;
}

.card-body .content{
    color: rgb(88, 88, 216);
    font-size: large;
    
}

.card-body span{
    text-transform: uppercase;
}



.card-body p a{
    text-decoration: none;
}

.card-img{
    border: 10px solid;
}