{% extends "base.html" %}
{% load static %}
{%block head%}
<title>searchresult</title>
<link rel="stylesheet" href="{% static 'css/searchresult.css' %}" />

{%endblock head%}
{%block content%}


    <div class="row flex-column-reverse flex-sm-row">
        <div class="filter col-lg-2 col-md-2 col-sm-1 col-12">
            <h3 id="format">Format</h3>
            <h3 id="manual">Manuals</h3>
            <h4 id="result">Result: 1-25 of 809</h4>
            <h4 id="refine">Refine Your Results</h4>
            <hr id="hr">
              
              

              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Location</h6><i  class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> 
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> 
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> 
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>

              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Language</h6>  <i class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> <span id="count2">112</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> <span id="count2">82</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> <span id="count2">63</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>

              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Sub-themes</h6>  <i  class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> <span id="count2">112</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> <span id="count2">82</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> <span id="count2">63</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>

              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Formats</h6>  <i  class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> <span id="count2">112</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> <span id="count2">82</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> <span id="count2">63</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>

              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Contributor</h6>  <i  class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> <span id="count2">112</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> <span id="count2">82</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> <span id="count2">63</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>


              <div class="dropdown">
                <button class="custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h6>Other Formats</h6>  <i  class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  
                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2022-2023</span> <span id="count2">112</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2021-2022</span> <span id="count2">82</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                  <li>
                    <div class="check">
                    <label class="form-check-label" for="flexCheckDefault">
                      <span>2020-2021</span> <span id="count2">63</span>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                  </li>

                </ul>
              </div>

        </div> 
        

        {% comment %} <div class="result col-lg-1 col-md-1 col-sm-1 col-12">

        </div> {% endcomment %}



        
        <div class="result col-lg-9 col-md-9 col-sm-10 col-12" >
            <h4>Refined By</h4>
            {% for mes in messages %}
            <div class="alert  alert-dismissible fade show" role="alert">
                <strong>format: manuals</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <div class="tittle">
              <h2>search manuals</h2>
              <div class="sort col-lg-5 col-md-4 col-sm-7 col-12" >
                <form method="GET" >
                  <div class="input-group1 ">
                    <h6>View</h6>
                      <div class="input-group-prepend">
                        
                          <select class="view" name="search_type" >
                              <option value="meta" selected>view1</option>
                              <option value="elements">view2</option>
                          </select>
                      </div>
                      <h6>Sort by</h6>
                      <div class="input-group-prepend">
                        
                        <select class="sort-by" name="search_type">
                            <option value="meta" selected>select1</option>
                            <option value="elements">select2</option>
                        </select>
                      </div>
                      <div class="input-group-append">
                          <button class="submit-go" type="submit">Go</button>
                      </div>
                  </div>
              </form>
              </div>
            </div>            
            <hr>
            <div class="card mb-3 border-0" >
                <div class="row g-0">
                  <div class="col-md-3">
                    <img id="image"  src="{%static 'images/search1.jpg'%}" class="img-fluid" alt="search_image">
                  </div>
                  
                  <div class="col-md-8" >
                    <div class="card-body">
                      <h5 class="card-title">manual</h5>
                      <p class="content">how do i set up a BRC</p>
                      <p>Contributor : <span>pradan</span></p>
                      <p>Date: 2022</p>
                      <p>Resource: <a href="#">View</a> | <a href="#">Download</a></p>

                    </div>
                  </div>
                </div>
              </div>
              <hr>

              
            <div class="card mb-3 border-0" >
                <div class="row g-0">
                  <div class="col-md-3">
                    <img  src="{%static 'images/search2.jpg'%}" class="img-fluid card_img" alt="search_image" >
                  </div>
                  
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">manual</h5>
                      <p class="content">Natural Farming: A Guide</p>  
                      <p>Contributor : <span>parambha</span></p>
                      <p>Date: 2022</p>
                      <p>Resource: <a href="#">View</a> | <a href="#">Download</a></p>

                    </div>
                  </div>
                </div>
              </div>
              <hr>
        </div>
        
    </div>

{%endblock content%}
