{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block content %}

<div class="container mt-5">
    <!-- Search Form -->
    <form action="/" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." name="query" value="{{ query }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <!-- Search Results -->
    <div class="row">
        {% for result in results %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if result.image_url %}

                <img class="card-img-top" src="{{ result.image_url }}" alt="No image">

                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ result.title }}</h5>
                    <p class="card-text">{{ result.description|truncatechars:100 }}</p>

                    {% if result.read_more_url %}
                    <a href="{{ result.read_more_url }}" class="btn btn-primary">Read More</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>No results found.</p>
        {% endfor %}
    </div>
</div>


{% endblock content %}


