{% extends "base.html" %}
{% load static %}
{% block head %}
    {% load constant_tags %}

    <title>searchresult</title>
    <link rel="stylesheet" href="{% static 'css/searchresult.css' %}"/>

{% endblock head %}
{% block content %}

    <div class="row flex flex-sm-row">
        <div class="filter col-lg-2 col-md-2 col-sm-1 col-12">
            <h4 id="refine">Refine Your Results</h4>
            <hr id="hr">
            {% get_filters as filters %}

            {% for name, values in filters.items %}
                <div class="dropdown">
                    <button class="custom-dropdown-toggle" type="button" data-field="{{ name }}">
                        <h6>{{ name }}</h6><i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% for fil_value,fil_name in values.1 %}
                            <li>
                                <div class="check">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <span>{{ fil_name }}</span>
                                    </label>
                                    <input name={{ values.0 }} class="form-check-input" type="checkbox"
                                           value="{{ fil_value }}"
                                           id="flexCheckDefault">
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endfor %}


        </div>


        <div class="result col-lg-9 col-md-9 col-sm-10 col-12">
            <h4>Refined By</h4>
            {% for mes in messages %}
                <div class="alert  alert-dismissible fade show" role="alert">
                    <strong>{{ mes }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <div class="tittle">
                <h2>search manuals</h2>
                <div class="sort">
                    <form method="GET">
                        <div class="input-group1">
                            <div>
                                <h6>View</h6>
                                <div class="input-group-prepend">

                                    <select class="view" name="search_type">
                                        <option value="meta" selected>List</option>
                                        <option value="elements">view2</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <h6>Sort by</h6>
                                <div class="input-group-prepend">

                                    <select class="sort-by" name="search_type">
                                        <option value="meta" selected>Date</option>
                                        <option value="elements">select2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input-group-append">
                                <button class="submit-go" type="submit">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% for result in results %}
                <hr>

                <div class="mb-3 border-0">
                    <div class="row">
                        <div class="col-md-3">
                            <img id="image" src={{ result.image_url }} class="img-fluid" alt="search_image">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ result.category }}</h5>
                                <p class="content">{{ result.title }}</p>
                                <p>Contributor : <span>{{ result.contributor }}</span></p>
                                <p>Date: 2022</p>
                                <p>Resource: <a href={{ result.read_more_url }}>View</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock content %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



    <script>
        $(document).ready(function() {
            $(".custom-dropdown-toggle").on("click", function() {
                // Toggle the 'active' class on the parent .dropdown element
                $(this).closest('.dropdown').toggleClass('active');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(".custom-dropdown-toggle").on("click", function() {
                var field = $(this).data("field");

                $.ajax({
                    type: "GET",
                    url: "{% url 'searchresult' %}",
            data: {
                field: field
            },
            success: function(response) {
                // Assuming you have a container for the dropdown content
                updateDropdownContent(response.dropdown_values);
            },
            error: function(error) {
                console.log("Error:", error);
            }
        });
    });

    function updateDropdownContent(dropdownValues) {
        // Clear previous dropdown content
        $(".dropdown-menu").empty();

        // Append new dropdown items
        var dropdownMenu = $(".dropdown-menu");
        for (var i = 0; i < dropdownValues.length; i++) {
            var data = dropdownValues[i];
            var listItem = $('<li><div class="check"><label class="form-check-label" for="flexCheckDefault"><span>' + data + '</span></label><input class="form-check-input" type="checkbox" value="' + data + '" id="flexCheckDefault"></div></li>');
            dropdownMenu.append(listItem);
        }
    }
});
    </script>



{% endblock script %}
