{% load static %}
{% load constant_tags %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
<script
        src="https://kit.fontawesome.com/86529636e5.js"
        crossorigin="anonymous"
></script>


<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{% url 'home' %}">
                <img
                        src="{% static 'images/logo.jpg' %}"
                        alt="logo"
                        class="img-fluid"
                        width="100px"
                />
            </a>
        </div>
        <div class="navbar-right">
            <div class="navbar-top">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle account" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Account
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <a class="nav-link" href="#">Get Email Updates</a>
                <a class="donate" href="#">Donate</a>
            </div>
            <div class="navbar-bottom">
                <form
                        method="GET"
                        class="form-inline"
                        action="{% url 'search' %}"
                >
                    {% for key, value in request.GET.items %}
                        {% if key != "format" %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}

                    <div class="input-group search ">
                        <div class="input-group-prepend">

                            <label>
                                <select class="form-select" name="format">
                                    {% get_categories as categories %}

                                    {% for val, dis in categories %}
                                        <option value={{ val }}>{{ dis }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="search-input">
                            <label>
                                <input
                                        type="text"
                                        class="form"
                                        placeholder="Search..."
                                        name="query"
                                        {% if query %}
                                        value="{{ query }}"
                                        {% endif %}
                                />
                            </label>
                        </div>

                        <div class="search-icon input-group-append">
                            <button type="submit">
                                <i class="fas fa-magnifying-glass"></i>
                            </button>
                        </div>

                    </div>
                </form>
            </div>


        </div>
    </div>

</nav>

{##}
{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <a href="{% url 'home'%}">#}
{#    <img#}
{#      src="{% static 'images/logo.png' %}"#}
{#      alt="logo"#}
{#      class="navimage img-fluid"#}
{#    />#}
{#  </a>#}
{##}
{#  <ul class="navbar-nav">#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Get Email Updates</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#      <a class="donate nav-link" href="#">Donate</a>#}
{#    </li>#}
{#  </ul>#}
{##}
{#  <form#}
{#    method="GET"#}
{#    class="search form-inline"#}
{#    action="{% url 'searchresult' %}"#}
{#  >#}
{#    <div class="input-group">#}
{#      <ul>#}
{#        <li>#}
{#          <div class="input-group-prepend">#}
{#            <select class="select" name="search_type">#}
{#              <option value="meta" selected>Description</option>#}
{#              <option value="elements">Content</option>#}
{#            </select>#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#          <div class="search-input">#}
{#            <input#}
{#              type="text"#}
{#              class="form"#}
{#              placeholder="Search..."#}
{#              name="query"#}
{#              value="{{ query }}"#}
{#            />#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#          <div class="search-icon input-group-append">#}
{#            <button type="submit">#}
{#              <i class="fas fa-magnifying-glass"></i>#}
{#            </button>#}
{#          </div>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </form>#}
{#</nav>#}
